<f:layout name="Main" />

<header id="header">
    <div class="inner">
        <f:render section="Header" />
    </div>
</header>

<div id="main">
    <f:render section="Content" />
</div>

<f:render partial="Footer" arguments="{_all}" />