<f:if condition="{data.tx_mask_profile_link && data.tx_mask_avatar_img}">
  <f:link.typolink parameter="{data.tx_mask_profile_link}" class="image avatar">
    <f:for each="{data.tx_mask_avatar_img}" as="image">
      <f:image src="{image.uid}" alt="{image.alternative}" title="{image.title}" treatIdAsReference="1" />
    </f:for>
  </f:link.typolink>
</f:if>
