<f:if condition="{data.tx_mask_icons_add}">
    <ul class="icons">
        <f:for each="{data.tx_mask_icons_add}" as="data_item">
            <f:if condition="{data_item.tx_mask_icons_link && data_item.tx_mask_icons_label && data_item.tx_mask_icons_icon}">
                <li>
                    <f:link.typolink parameter="{data_item.tx_mask_icons_link}" class="icon {data_item.tx_mask_icons_icon}"><span class="label">{data_item.tx_mask_icons_label}</span>
                    </f:link.typolink>
                </li>
            </f:if>
        </f:for>
    </ul>
</f:if>

