<f:if condition="{data.tx_mask_header}">
    <header class="major">
        <h2>{data.tx_mask_header}</h2>
    </header>
</f:if>

<f:if condition="{data.tx_mask_text}">
<f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.tx_mask_text}</f:format.html>
</f:if>

<f:if condition="{data.tx_mask_action_link}">
    <ul class="actions">
        <li>
            <f:link.typolink parameter="{data.tx_mask_action_link}" class="button">
                <f:if condition="{data.tx_mask_action_title}">
                    <f:then>
                        {data.tx_mask_action_title}
                    </f:then>
                    <f:else>
                        {data.tx_mask_action_link}
                    </f:else>
                </f:if>
            </f:link.typolink>
        </li>
    </ul>
</f:if>

