<div id="poptrox">
    <f:if condition="{data.tx_mask_portfolio_header}">
        <h2>{data.tx_mask_portfolio_header}</h2>
    </f:if>

    <f:if condition="{data.tx_mask_portfolio_items}">
        <div class="row">
            <f:for each="{data.tx_mask_portfolio_items}" as="image">
                <article class="6u 12u$(xsmall) work-item">
                    <a href="{f:uri.image(src:'{image.uid}',treatIdAsReference:'1')}" class="image fit thumb">
                        <f:image src="{image.uid}" alt="{image.alternative}" title="{image.title}"
                                 treatIdAsReference="1" width="370c" height="217c" />
                    </a>
                    <h3>{image.title}</h3>
                    <p>{image.description}</p>
                </article>
            </f:for>
        </div>
    </f:if>

    <f:if condition="{data.tx_mask_portfolio_action_link}">
        <ul class="actions">
            <li>
                <f:link.typolink parameter="{data.tx_mask_portfolio_action_link}" class="button">
                    <f:if condition="{data.tx_mask_portfolio_action_title}">
                        <f:then>
                            {data.tx_mask_portfolio_action_title}
                        </f:then>
                        <f:else>
                            {data.tx_mask_portfolio_action_link}
                        </f:else>
                    </f:if>
                </f:link.typolink>
            </li>
        </ul>
    </f:if>
</div>

