<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-contactform" >
	<tr>
		<td>
			<f:translate key="tx_contactform_domain_model_contact.name" />
		</td>
		<td>
		{contact.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_contactform_domain_model_contact.email" />
		</td>
		<td>
		{contact.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_contactform_domain_model_contact.message" />
		</td>
		<td>
		{contact.message}
		</td>
	</tr>
</table>
</html>