<f:if condition="{data.tx_mask_profile_link}">
  {data.tx_mask_profile_link}<br />
</f:if>

<f:if condition="{data.tx_mask_avatar_img}">
  <f:for each="{data.tx_mask_avatar_img}" as="file">
    <f:image image="{file}" alt="{file.alternative}" title="{file.title}" /><br />
    {file.description} / {file.identifier}<br />
  </f:for>
</f:if>