<f:if condition="{data.tx_mask_icons_add}">
    <ul>
        <f:for each="{data.tx_mask_icons_add}" as="data_item">
            <li style="font-size: 14px">
                <f:if condition="{data_item.tx_mask_icons_label}">
                    <strong>{data_item.tx_mask_icons_label}</strong>
                </f:if>
                <f:if condition="{data_item.tx_mask_icons_link && data_item.tx_mask_icons_icon}">
                    <f:link.typolink parameter="{data_item.tx_mask_icons_link}">
                        <span class="fa {data_item.tx_mask_icons_icon}" style="font-size: 20px"></span> {data_item.tx_mask_icons_link}</f:link.typolink>
                </f:if>
            </li>
        </f:for>
    </ul>
</f:if>