<f:if condition="{data.tx_mask_header}">
    <strong>{data.tx_mask_header}</strong>
</f:if>

<f:if condition="{data.tx_mask_text}">
    <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.tx_mask_text}</f:format.html>
</f:if>

<f:if condition="{data.tx_mask_action_link}">
    <f:link.typolink parameter="{data.tx_mask_action_link}">
        <f:if condition="{data.tx_mask_action_title}">
            <f:then>
                {data.tx_mask_action_title}
            </f:then>
            <f:else>
                {data.tx_mask_action_link}
            </f:else>
        </f:if>
    </f:link.typolink>
</f:if>

