<f:if condition="{data.tx_mask_portfolio_header}">
    <strong>{data.tx_mask_portfolio_header}</strong>
</f:if>
<br>
<f:if condition="{data.tx_mask_portfolio_items}">
    <table>
        <f:for each="{data.tx_mask_portfolio_items}" as="file">
            <tr>
                <td style="padding: 5px 5px 5px 0;">
                    <f:image image="{file}" alt="{file.alternative}" title="{file.title}" width="100" />
                </td>
                <td>
                    <strong>{file.title}</strong><br>
                    {file.description}<br>
                    {file.identifier}
                </td>
            </tr>
        </f:for>
    </table>
</f:if>
<br>
<f:if condition="{data.tx_mask_portfolio_action_link}">
    <f:link.typolink parameter="{data.tx_mask_portfolio_action_link}">
        <f:if condition="{data.tx_mask_portfolio_action_title}">
            <f:then>
                {data.tx_mask_portfolio_action_title}
            </f:then>
            <f:else>
                {data.tx_mask_portfolio_action_link}
            </f:else>
        </f:if>
    </f:link.typolink>
</f:if>

