<f:layout name="Default" />

<f:section name="Form">
	<f:form name="contact" object="{contact}" action="send" class="contact-form">
		<div class="row uniform 50%">
			<div class="6u 12u$(xsmall)">
				<f:form.textfield property="name" id="name" placeholder="{f:translate(key: 'tx_contactform_domain_model_contact.name')}" />
				<f:form.validationResults for="contact.name">
					<f:for each="{validationResults.flattenedErrors}" as="error">
						<div class="f3-error" data-error="{error.0.code}">{error.0.message}</div>
					</f:for>
				</f:form.validationResults>
			</div>
			<div class="6u$ 12u$(xsmall)">
				<f:form.textfield property="email" id="email" placeholder="{f:translate(key: 'tx_contactform_domain_model_contact.email')}" />
				<f:form.validationResults for="contact.email">
					<f:for each="{validationResults.flattenedErrors}" as="error">
						<div class="f3-error" data-error="{error.0.code}">{error.0.message}</div>
					</f:for>
				</f:form.validationResults>
			</div>
			<div class="12u$">
				<f:form.textarea property="message" id="message" placeholder="{f:translate(key: 'tx_contactform_domain_model_contact.message')}" rows="4" />
				<f:form.validationResults for="contact.message">
					<f:for each="{validationResults.flattenedErrors}" as="error">
						<div class="f3-error" data-error="{error.0.code}">{error.0.message}</div>
					</f:for>
				</f:form.validationResults>
			</div>
		</div>
		<div id="f3-flash">
			<f:flashMessages />
		</div>
		<ul class="actions">
			<li><f:form.submit value="{f:translate(key: 'tx_contactform_submit')}" /></li>
		</ul>
	</f:form>
</f:section>