<f:layout name="Mail/Html" />

<f:section name="Main">
    <h2 style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 22px; line-height: 1.6; font-weight: normal; margin: 0 0 10px; padding: 0;">{subject}</h2>
    <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6; font-weight: normal; margin: 0 0 10px; padding: 0;">
        {f:translate(key: 'tx_contactform_domain_model_contact.email')}: <b>{contact.email}</b><br>
        {f:translate(key: 'tx_contactform_domain_model_contact.name')}: <b>{contact.name}</b>
    </p>
    <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 1.6; font-weight: normal; margin: 10px 0 10px; padding: 0;">
        {contact.message}
    </p>
    <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 10px; line-height: 1.6; font-weight: 300; margin: 20px 0 0; padding: 0;">
        <f:translate key="tx_contactform_received"
                     arguments="{0: '{f:format.date(date: \'now\', format: \'d.m.Y, H:i\')}'}" />
    </p>
</f:section>